body {
    padding: 36px 2em 0 2em;
}
h1 {
    color: red;
}
header, footer {
    background-color: lightgray;
}

footer > hr {
    border-top: 1px dashed black;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkgray;
}

nav > ul > li {
    float: left;
    border-right: 1px solid black;
}

nav > ul > li > a {
    display: block;
    padding: 9px;
}

nav > ul > li > .active {
    background-color: lightskyblue;
}
