body {
    padding: 0 2em 0 2em;
}
h1 {
    color: red;
}
header, footer {
    background-color: lightgray;
}

footer > hr {
    border-top: 1px dashed black;
}

nav > ul {
    list-style-type: none;
    display: inline;
}
