body {
    margin: 0; 
}
main {
    padding-left: 2em;
    padding-right: 2em;
}
h1 {
    color: darkslateblue;
}
header, footer {
    background-color: lightgray;
    margin-left: 2em;
    margin-right: 2em;    
}
header {
    height: 2.75em;
}
footer > hr {
    border-top: 1px dashed black;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 2.75em;
    background-color: darkgray;
}

nav > ul > li {
    float: left;
    height: 2.75em;
    border-right: 1px solid darkslategray;
}

nav > ul > li > a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    height: 2.75em;
}

nav > ul > li > a:hover {
    background-color: darkslateblue;
    text-decoration: none;
}
